/* by Alan Huang */

/* ---- Body ---- */
body {
  background-color: slategrey;
  color: white;
  font-family: helvetica, arial, sans-serif;
}

/* ---- Header 1 ---- */
h1 {
  font-family: verdana, arial, sans-serif;
}

/* ---- Anchor ---- */
a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 75%;
}

/* ---- Buttons ----*/
button {
  padding: 10px;
  border-radius: 10px;
}

/* ---- Classes ---- */
.hidden {
  display: none;
}

/* ---- Start Button ---- */
#startButton:hover {
  opacity: 75;
}
#stopButton:hover {
  opacity: 75;
}


/* ---- Game Buttons 1-4 ---- */
#gameArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}
#btn1 {
  background: lightgreen;
}
#btn1:active,
#btn1.lit {
  background: green;
}
#btn2 {
  background: lightblue;
}
#btn2:active,
#btn2.lit {
  background: blue;
}
#btn3 {
  background: pink;
}
#btn3:active,
#btn3.lit {
  background: red;
}
#btn4 {
  background: lightyellow;
}
#btn4:active,
#btn4.lit {
  background: yellow;
}
