/* by Alan Huang */

/* ---- HTML ----*/
html {
  box-sizing: border-box;
  font-size: 16px;
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/photo-1524098837898-6b1c101a85f6.jpg?v=1649669429864);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ---- Body ---- */
body {
  font-weight: bold;
  color: white;
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/46-467643_png-download-freebie-corner-digital-crafts-pinterest-sparkle.png?v=1649496491567);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

/* ---- Anchor ----*/
a,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  position: fixed;
  top: 2;
  left: 3;
  font-family: "Sigmar One", sans-serif;
  font-size: 20px;
}
a:hover {
  opacity: 75%;
}

/* ---- Img, Video ---- */
img,
video {
  height: auto;
  max-width: 100%;
}

/* ---- Header 1 ---- */
h1 {
  color: white;
  opacity: 100;
  text-align: center;
  font-family: "Sigmar One", sans-serif;
  font-weight: bold;
}

/* ---- Classes ---- */
.hidden {
  display: none;
}

/* ---- Legacy ---- */
#legacy {
  text-decoration: underline;
  color: slategray;
}

/* ---- Intro ---- */
#introText {
  text-align: center;
  align-items: center;
  justify-content: center;
}
#titleImg1 {
  width: 40px;
  height: 40px;
}
#titleImg2 {
  width: 40px;
  height: 40px;
}

/* ---- Start & Paws ---- */
#startBar {
  text-align: center;
  align-items: center;
  justify-content: center;
}
#strtBtn {
  font-family: Sigmar One, sans-serif;
  border: 2px solid darkolivegreen;
  background-color: darkseagreen;
  color: white;
  padding: 14px 24px;
  font-size: 20px;
  border-radius: 25px;
  font-weight: bold;
}
#strtBtn:hover {
  color: black;
  background-color: darkolivegreen;
  opacity: 90%;
}
#leftPaw1 {
  width: 55px;
  height: 40px;
}
#leftPaw2 {
  width: 55px;
  height: 40px;
}
#leftPaw3 {
  width: 55px;
  height: 40px;
}
#rightPaw1 {
  width: 55px;
  height: 40px;
}
#rightPaw2 {
  width: 55px;
  height: 40px;
}
#rightPaw3 {
  width: 55px;
  height: 40px;
}

/* ---- Demo ---- */
#demo {
  text-align: center;
}
#demoFrame {
  background-image: url("https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/catt.PNG?v=1649376567588");
  height: 360px;
  width: 470px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#demoVid {
  height: 310px;
  width: 435px;
  
}

/* ---- Control Bar ---- */
#controlBar {
  text-align: center;
  align-items: center;
  justify-content: center;
  left:50%;
}
#endBtn {
  background: red;
  margin: 2px;
  padding: 3px 7px;
  cursor: pointer;
  font-weight: bold;
}
#endBtn:hover {
  opacity: 75%;
}
#stopImg {
  width: 10px;
  height: 10px;
}
#replay {
  background: turquoise;
  margin: 2px;
  padding: 3px 7px;
  cursor: pointer;
  font-weight: bold;
}
#replay:hover {
  opacity: 75%;
}
#replayImg {
  width: 10px;
  height: 10px;
}
#prevScores {
  background: yellow;
  margin: 2px;
  padding: 3px 7px;
  cursor: pointer;
  font-weight: bold;
}
#prevScores:hover {
  opacity: 75%;
}
#scoreBoard{
  font-family: "Sigmar One", sans-serif;
  position:fixed;
  left: 10%;
  top: 40%;
}
#scoreValues {
  font-size: 14px;
}

/* ---- Difficulty Menu ---- */
#diffMenu{
  text-align:center;
  margin: 0;
}
#gameMenu {
  background-color: salmon;
  background-image: url("https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/bggg-removebg-preview.png?v=1649498293672");
  height: 440px;
  width: 290px;
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;

}
#easy {
  font-family: "Sigmar One", sans-serif;
  border: 2px solid black;
  background-color: forestgreen;
  color: black;
  border-color: black;
  color: black;
  padding: 9px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  display: inline;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
#easy:hover {
  background-color: green;
  border-color: black;
  color: white;
  font-size: 18px;
  font-weight: normal;
  
}
#med {
  font-family: "Sigmar One", sans-serif;
  border: 2px solid black;
  background-color: yellow;
  color: black;
  border-color: black;
  padding: 9px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  display: inline;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#med:hover {
  background-color: gold;
  border-color: black;
  color: white;
  font-size: 18px;
  font-weight: normal;
}

#hard {
  font-family: "Sigmar One", sans-serif;
  border: 2px solid black;
  background-color: red;
  color: black;
  border-color: black;
  padding: 9px 20px;
  font-size: 16px;
  font-weight: bold;
  display: inline;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#hard:hover {
  background-color: crimson;
  border-color: black;
  color: white;
  font-size: 18px;
  font-weight: normal;
}
#speed {
  font-family: "Sigmar One", sans-serif;
  border: 2px solid black;
  background-color: purple;
  color: black;
  border-color: black;
  padding: 9px 20px;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#speed:hover {
  background-color: rebeccapurple;
  border-color: black;
  color: white;
  font-size: 18px;
  font-weight: normal;
  display: inline;
}
#home {
  font-family: "Sigmar One", sans-serif;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#home:hover {
  opacity: 75%;
}

/* ---- Menu Button ----*/
#returnMenu {
  text-align:center;
}
#menu {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  color: white;
  font-size:15px;
}
#menu:hover {
  opacity: 75%;
}

/* ---- Count Area ---- */
#countArea {
  font-family: "Sigmar One", sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#gProg {
  margin: 0 auto;
  text-align: center;
}
#progImg {
  width: 17px;
  height: 17px;
}
#mistakes{
  margin: 0 auto;
  text-align: center;
}
#mistakeImg {
  width: 18px;
  height: 18px;
}

/* ---- Timer ---- */
#speedTimer {
  font-family: "Sigmar One", sans-serif;
  margin: 0 auto;
  
  text-align: center;
}
#timerImg {
  width: 13px;
  height: 13px;
}
#timerImg2 {
  width: 13px;
  height: 13px;
}

/* ---- Result Text ---- */
#resultText{
  text-align:center;
}
#wonGame {
  color: green;
  font-weight: 900;
}
#lostGame {
  color: red;
  font-weight: 900;
}

/* ---- Game Area ---- */
#gameArea {
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/grassbackk.png?v=1649672247346);
  background-size: 115%;
  height: 460px;
  width: 900px;
  border-radius: 25px;
  background-position: center;
  padding: 20px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}
#gameArea > button {
  width: 160px;
  height: 210px;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
}
#medDiff > button {
  width: 160px;
  height: 210px;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
}
#hardDiff > button {
  width: 160px;
  height: 210px;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
}

/** Game Buttons 1-8 */
#btn1 {
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/bl1.png?v=1649673804247);
  background-size: 99%;
  background-repeat: no-repeat;
  background-position: center;
  transform-style: preserve-3d;
}
#btn1.lit {
  background: slategray;
}
#btn1:hover {
  opacity: 60%;
}
#btn1:active {
  opacity: 100%;
  transition: opacity 0.5s;
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/c1.jpg?v=1649668419447);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn2 {
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/g1.png?v=1649673804074);
  background-size: 99%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn2.lit {
  background: green;
}
#btn2:hover {
  opacity: 60%;
}
#btn2:active {
  opacity: 100%;
  transition: opacity 0.5s;
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/c2.jpg?v=1649668311089);
  background-size: 98%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn3 {
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/r1.png?v=1649673804828);
  background-size: 99%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn3.lit {
  background: red;
}
#btn3:hover {
  opacity: 60%;
}
#btn3:active {
  opacity: 100%;
  transition: opacity 0.5s;
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/c3.jpg?v=1649668311274);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn4 {
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/b2.png?v=1649673804428);
  background-size: 99%;
  background-repeat: no-repeat;
  background-position: center;
}

#btn4.lit {
  background: blue;
}
#btn4:hover {
  opacity: 60%;
}
#btn4:active {
  opacity: 100%;
  transition: opacity 0.5s;
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/c4.jpg?v=1649668311108);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn5 {
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/unknown.png?v=1649674643452);
  background-size: 98%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn5.lit {
  background: purple;
}
#btn5:hover {
  opacity: 60%;
}
#btn5:active {
  opacity: 100%;
  transition: opacity 0.5s;
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/unnamed.jpg?v=1649669141226);
  background-size: 98%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn6 {
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/o11.png?v=1649674891955);
  background-size: 98%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn6.lit {
  background: orangered;
}
#btn6:hover {
  opacity: 60%;
}
#btn6:active {
  opacity: 100%;
  transition: opacity 0.5s;
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/c6.jpg?v=1649668311216);
  background-size: 98%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn7 {
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/yello2.png?v=1649675338340);
  background-size: 97%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn7.lit {
  background: yellow;
}
#btn7:hover {
  opacity: 60%;
}
#btn7:active {
  opacity: 100%;
  transition: opacity 0.5s;
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/c7.jpg?v=1649668310905);
  background-size: 98%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn8 {
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/d66ffd7836903e90c99f04c2ce0e3888.jpg?v=1649675513802);
  background-size: 97%;
  background-repeat: no-repeat;
  background-position: center;
}
#btn8.lit {
  background: pink;
}
#btn8:hover {
  opacity: 60%;
}
#btn8:active {
  opacity: 100%;
  transition: opacity 0.5s;
  background-image: url(https://cdn.glitch.global/2718326c-3a19-428c-be02-60b78405419a/c8.jpg?v=1649668310859);
  background-size: 98%;
  background-repeat: no-repeat;
  background-position: center;
}

/* ----- My Info CSS ---- */
#githubImg {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 0;
  left: 0;
}
#github:hover {
  opacity: 75%;
}
#infoText{
  position: fixed;
  right: 1%;
  bottom: 0;
}
